.site-nav, .site-header, .site-footer {
    width: 100%;
}
  
.side-bar {
    @include mq(lg) {
        width: $nav-width;
    }
}
  
.main {
    @include mq(lg) {
        margin-left: $nav-width;
    }
    max-width: 100%;
}

h2 {
    padding-bottom: $sp-3;
    margin-bottom: $sp-3;
    border-bottom: 1px solid $border-color;
    font-variant: small-caps;
    font-weight: bolder;
}

h3 {
    font-size: 18px !important;
    font-variant: small-caps;
}


h4 {
    font-size: 16px !important;
    font-variant: small-caps;
    text-transform: none;
    letter-spacing: normal;
}

.image-center
{
    margin: 0 auto;
    display: block;
}

.image-right
{
    float: right;
}

table th {
    background-color: #1863be !important;
    font-weight: 600;
    color: #ffffff !important;
  }

summary {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px !important;
}

img[src~="large"] {
    width: 600px;
 }