{% if page.file.src_uri.startswith('blog/posts') %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script src="https://giscus.app/client.js" data-repo="fblettner/fblettner.github.io" data-repo-id="R_kgDOG89fCQ"
        data-category="Comments" data-category-id="DIC_kwDOG89fCc4CkhAQ" data-mapping="pathname" data-strict="1"
        data-reactions-enabled="1" data-emit-metadata="1" data-input-position="top" data-theme="preferred_color_scheme"
        data-lang="en" crossorigin="anonymous" data-loading="lazy" async>
        </script>

{% endif %}